CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_ESP_TASK_WDT_EN=n
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=4096
CONFIG_IDF_EXPERIMENTAL_FEATURES=y
CONFIG_IDF_TARGET="esp32p4"
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LV_DEF_REFR_PERIOD=15
CONFIG_LV_LOG_LEVEL_INFO=y
CONFIG_LV_LOG_PRINTF=y
CONFIG_LV_OBJ_STYLE_CACHE=y
CONFIG_LV_CONF_SKIP=y
CONFIG_LV_COLOR_DEPTH_16=y
CONFIG_LV_COLOR_DEPTH=16
CONFIG_LV_OS_FREERTOS=y
CONFIG_LV_USE_CLIB_MALLOC=y
CONFIG_LV_USE_CLIB_SPRINTF=y
CONFIG_LV_USE_CLIB_STRING=y
CONFIG_LV_USE_LOG=y
CONFIG_LV_USE_FLEX=y
CONFIG_LV_USE_GRID=y
CONFIG_LV_USE_OBSERVER=y
CONFIG_SPIRAM_SPEED_200M=y
CONFIG_SPIRAM=y
CONFIG_THEO_BACKLIGHT_TIMEOUT_SECONDS=30
CONFIG_THEO_BACKLIGHT_DAY_BRIGHTNESS_PERCENT=100
CONFIG_THEO_BACKLIGHT_NIGHT_BRIGHTNESS_PERCENT=70
CONFIG_THEO_BACKLIGHT_OVERNIGHT_END_MINUTES=390
CONFIG_THEO_ANTIBURN_DURATION_SECONDS=30
CONFIG_THEO_ANTIBURN_SCHEDULE_START_MINUTE=240
CONFIG_THEO_ANTIBURN_SCHEDULE_STOP_MINUTE=241
